@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300);
@import "compass/css3";

$yelp-red: #FF4E00;

body, html {
	margin:0;
}

#map-canvas {
	@extend html;
	position:fixed;
	height:100vh;
	width:100vw;
}

h1 {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:20px 20px 0;
	margin:auto;
	height:120px;
	z-index:999;
	text-align:center;
	background-color:rgba(white, 0.65);
}

.yelp-list ul,
.search-yelp {
	position:fixed;
	top:0;
	right:0;
	width:400px;
	background-color:rgba(white, 0.85);
}

@media (max-width:500px) {
	.yelp-list ul,
	.search-yelp {
		width:50%;
	}
	.search-yelp {
		width:100%;
	}
}

.yelp-list ul {
	margin-right:-100%;	
	padding:60px 0 20px;
	height:100%;
	overflow-y:auto;
	z-index:9;
	@include transition-property(all);
	@include transition-duration(0.5s);
	&.show {
		margin-right:0;
	}
	h3 {
		font-size:24px;
		font-family:"Roboto Slab", sans-serif;
		font-weight:400;
		line-height:1.42em;
		margin-top:0;
		color:$yelp-red;
		span {
			border-bottom:1px solid $yelp-red;
		}
	}
	p {
		span {
			display:block;
		}
	}
	li {
		list-style:none;
		margin:0;
		padding:30px 20px 20px;
		border-top:1px dashed #ccc;
		cursor:pointer;
		&:first-child {
			border-top:0;
		}
		&:hover {
			background-color:lightyellow;
		}
		&.active {
			background-color:#efefef;
		}
	}	
}

@media (max-width:500px){
	.yelp-list ul {
		li {
			h3 {
				font-size:18px;
			}
			p {
				font-size:14px;
			}
		}
	}	
}

.search-yelp {
	padding:20px;
	z-index:10;
	small {
		display:block;
		text-align:right;
		margin-top:10px;
		color:$yelp-red;
		cursor:pointer;
		&:hover {
			text-decoration:underline;
		}
	}
}

.img-container {
	text-align:center;
	padding-top:5px;
	img {
		max-width:100%;
		height:auto;
		margin-bottom:5px;
	}
}

.info_content {
	p {
		max-width:220px;
	}
	.review {
		position:relative;
		border-top:1px solid #ccc;
		padding-top:10px;
		img {
			float:left;
			display:inline-block;
			max-width:50px;
			margin-right:10px;
			@include border-radius(5px);
		}
		&:after {
			content:"review by Yelp!";
			display:inline-block;
			font-size:10px;
			color:$yelp-red;
			float:right;
			margin-top:10px;
		}
	}
}